accelerate
bitsandbytes
datasets
deepspeed
googletrans==3.1.0a0
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.17.0
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
Jinja2==3.1.2
joblib==1.3.2
langchain==0.0.286
langsmith==0.0.35
lit==15.0.7
MarkupSafe==2.1.2
marshmallow==3.20.1
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
networkx==3.0
ninja==1.11.1
nltk==3.8.1
numexpr==2.8.5
numpy==1.25.2
optim==0.1.0
optimum==1.13.1
packaging==23.1
pandas==2.1.0
peft==0.5.0
Pillow==10.0.0
protobuf==4.24.3
psutil==5.9.5
py-cpuinfo==9.0.0
pyarrow==13.0.0
pydantic==1.10.12
pydantic_core==2.6.3
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.2.0
regex==2023.8.8
requests==2.31.0
responses==0.18.0
rfc3986==1.5.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.20
sympy==1.11.1
tenacity==8.2.3
thefuzz==0.20.0
threadpoolctl==3.2.0
tokenizers==0.13.3
tqdm==4.66.1
transformers==4.33.1
triton==2.0.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
ujson==5.8.0
urllib3==2.0.4
xxhash==3.3.0
yarl==1.9.2
mpi4py
trl
icecream