transformers
--index-url https://download.pytorch.org/whl/cu117
torch==2.0.0+cu117
peft
tokenizers
--prefer-binary --extra-index-url=https://jllllll.github.io/bitsandbytes-windows-webui
bitsandbytes
sentencepiece
sentence-transformers
datasets
langchain
accelerate
googletrans==3.1.0a0
thefuzz[speedup]
ujson